<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<div>
    <div class="NavHome">
        <div class="NavHome">
        <div>
            <a routerLink="/topiclist"><button class="NavItem"><h2>Home</h2></button></a>
        </div>
        </div>

         
    </div>
    
    <router-outlet></router-outlet>
    <!-- page user login -->
    <!-- <app-user-login class="flex-contain"></app-user-login> -->

    <!-- page show topic content -->
    <!-- <app-topic-content></app-topic-content> -->

    <!-- page create topic  -->
    <!-- <app-topic-create></app-topic-create> -->

    <!-- page show topic list -->
    <!-- <app-topic-list></app-topic-list> -->

</div>
 

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
